* {
	margin: 0; padding: 0;
}
body {
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 0.8em;
	line-height: 1.4em;
}

.Footer {
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 0.7em;
	line-height: 1.5em;
}
.Footer address {
	color: gray;
	font-style: italic;
}
.UserMiniPanel {
	background-color: #2A2B2F;
	border-bottom: 1px solid grey;
	width: 100%;
	float: left;
	display: table;
	z-index:666;
	opacity: 0.8;
	color: white;
	line-height: 25px;
	border-bottom: 1px solid grey;
}
.UserMiniPanel a {
	color: white;
}
.UserMiniPanel .UserMiniPanelLeft {
	padding-left: 1.5em;
} 


img {
	border: none;
}

.footerStat {
	margin-left: 25px;
	margin-top: 15px;
	font-size: 11px;
}

.blockEditableBordered {
	border: 1px dashed #c0c0c0;
}


.blockEditable {
}

.blockControls {

	position: absolute;
	display: block;
}

.ui-resizable-helper
{
	border: 2px dotted #00F;
}
.ui-resizable-ghost {
	border: 1px dotted gray;
}

