LockServer {
	privileged;
}

WakePHP {
	defaultLocale en;
	cryptSalt "salt";

	domain "domain";
	cookieDomain "domain";
	
	CmpCAPTCHA {
		privatekey "token";
	}
	
	CmpAccount {
		twitter_app_key "key";
		twitter_app_secret "secret";
		twitter_auth_url "https://api.twitter.com/";
	}
	
	#CmpMUChat {
	#	run;
	#}
#	BackendServer {
#		listen "0.0.0.0:9999";
#	}
#	BackendClient {
#		servers "127.0.0.1:9999";
#	}
}
