<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head> 
<title>Vionid</title> 
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="Vion id" />
<link rel="stylesheet" type="text/css" href="css/layout.css" /> 
<link rel="stylesheet" type="text/css" href="css/colors.css" /> 
<link rel="icon" type="image/png" href="i/ficon.png" />
</head> 
<body>
<placeholder name="trololo" />
<!-- 
             __                      ____            
          ____________     _______  _________   ..  _______  
       " /    /       \   /   __  \/    /.   \_____/       \ 
     ___/    +    .   /  /       _/    /     .    /    /\__/
     \      /    /   /  /    /   /    ..    /    /__  ,   /
      \____/\___/\___\  \___/\___\___/ \___/\____\  \____/ 
      
      
      part of INRING
      
--><div class="main">

	<div class="head">
	<div class="body relative floatfix">

		<span class="logo" href="/"><img src="i/vionid-logo.png" alt="vionid" width="120" height="31" /><i class="none ie6-logo"></i></span>				<ul class="menu floatfix">
			<li class="item home"><a class="link current" href="index.html"><span class="sprite"><span class="unsee">Home</span></span></a></li>
			<li class="item about"><a class="link" href="about/"><span class="sprite"><span class="unsee">About</span></span></a></li>
			<li class="item products"><a class="link" href="products.html"><span class="sprite"><span class="unsee">Products</span></span></a></li>
			<li class="item contacts"><a class="link" href="/contacts/"><span class="sprite"><span class="unsee">Contacts</span></span></a></li>
			<li class="item my-desktop"><a class="link button" href="my/"><span class="value">My Desktop</span></a></li>

		</ul>
	</div>
</div>	
	<div class="body showcase">
		<div class="box box-home"><!-- --></div>
		<div class="content">
			<div class="slide slide2 floatfix">
				<h2 class="h">Vion<strong class="marked">Widget</strong></h2>
				<div class="image floatfix"><div class="illustration"><img src="i/slide2-widget.png" width="350" height="93" alt="VionWidget screenshot" /></div></div>

				<div class="info">
					<p><strong>Универсальный инструмент коммуникации,</strong> сочетающий в&nbsp;себе множество способов связи и&nbsp;обеспечивающий пользователям простой и&nbsp;удобный доступ к&nbsp;ним.</p>
					<a class="icon-link watch-video td-none" href=""><span class="icon"><!-- --></span>Watch the video</a>
				</div>
			</div>

		</div>
		<div class="controls">
			<a href="" class="b"><!-- --></a>
			<a href="" class="b b-on"><!-- --></a>
			<a href="" class="b"><!-- --></a>
			<a href="" class="b"><!-- --></a>
			<a href="" class="b"><!-- --></a>
		</div>
	</div>

	
	<div class="body floatfix">
		<div class="news">
			<h3 class="h">News</h3>
			<a class="issue" href="/news/">You organise your clients into 
categories that suit your business <span class="block date">December, 10, 2010</span></a>
			<a class="issue" href="/news/">You organise your clients into 
categories that suit your business <span class="block date">December, 10, 2010</span></a>
		</div>

		<div class="clients">
			<h3 class="h">Clients</h3>
			<div class="list floatfix">
				<a class="link" href=""><img src="i/clients/piezo.png" width="84" height="67" alt="Piezo Design" /></a>
				<a class="link" href=""><img src="i/clients/gmcua.png" width="96" height="67" alt="Global Management Challenge - Ukraine" /></a>
				<a class="link" href="http://esco-center.com.ua/"><img src="i/clients/esco-center.png" width="132" height="67" alt="ESCO Center" /></a>
				<a class="link" href="http://gloriosa.com.ua/"><img src="i/clients/gloriosa.png" width="131" height="67" alt="Студия флористики Gloriosa" /></a>
			</div>

		</div>
	</div>
	
		<div class="body footer floatfix">
		<span class="block separator"><!-- --></span>
		<a class="inring" href="http://in-ring.com/"><img src="i/inring.gif" width="77" height="17" alt="INRING" /></a>
		<p class="copyright">Copyright © 2009 In Ring LTD. Development Commons - Some rights reserved. Copyright Policy</p>
	</div>
</div>
<placeholder name="footerStat" />
<placeholder name="footerSta1t" />
</body>
</html>